<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="profileSettingModalLabel" aria-hidden="true" id="profileSetting">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="profileSettingModalLabel">Profile Setting</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="profile-setting-error-message"></div>
                <div class="form-group row">
                    <label for="adminEmail" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="adminEmail" value="<%=email%>" placeholder="Email Address">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminPassword" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="adminPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminConfirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="adminConfirmPassword" placeholder="Confirm Password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="profileSettingButton">Change</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="regDeleteModalLabel" aria-hidden="true" id="regDelete">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="regDeleteModalLabel">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div>Do you want to really delete ?</div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="regDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="regShowModalLabel" aria-hidden="true" id="regShow">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="regShowModalLabel">Registration Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="adminEmail" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="reg-name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminEmail" class="col-sm-3 col-form-label">Email Address</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="reg-email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminEmail" class="col-sm-3 col-form-label">Mobile Number</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="reg-mobile">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminEmail" class="col-sm-3 col-form-label">Profession</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="reg-profession">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminEmail" class="col-sm-3 col-form-label">Designation</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="reg-designation">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminEmail" class="col-sm-3 col-form-label">Institute</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="reg-institute">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminEmail" class="col-sm-3 col-form-label">Department</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="reg-department">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminEmail" class="col-sm-3 col-form-label">Title</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="reg-title">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminEmail" class="col-sm-3 col-form-label">abstract</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="reg-abstract"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>