<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="profileSettingModalLabel" aria-hidden="true" id="profileSetting">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="profileSettingModalLabel">Profile Setting</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="profile-setting-error-message"></div>
                <div class="form-group row">
                    <label for="adminEmail" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="adminEmail" value="<%=email%>" placeholder="Email Address">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminPassword" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="adminPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="adminConfirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="adminConfirmPassword" placeholder="Confirm Password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="profileSettingButton">Change</button>
            </div>
        </div>
    </div>
</div>