<nav class="navbar navbar-default mb-xl-5 mb-4">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <ul class="top-icons-agileits-w3layouts float-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user"></i>
                </a>
                <div class="profile-dropdown-menu dropdown-menu drop-3" style="margin: 0; padding: 0">
                    <div style="margin: 1em">
                        <div class="profile d-flex mr-o">
                            <div class="profile-r align-self-center" style="width: 100%;">
                                <h3 class="sub-title-w3-agileits" style="text-transform: capitalize;text-align: center;">
                                    <%=userName%>
                                </h3>
                                <div class="text-center">
                                    <%=email%>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="dropdown-item mt-3" data-toggle="modal" data-target="#userProfileSetting" onclick="" data-backdrop="static">
                            <h4>
                                <i class="far fa-user mr-3"></i>My Setting
                            </h4>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="/logout/user" class="dropdown-item btn">Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>