</div>
<div class="copyright py-xl-3 py-2 text-center">
    <p>
        &copy; 2019 <a href="<%=info.website%>" target="_blank">Hyper Queue</a>. All Rights Reserved
    </p>
</div>
</div>
</div>
<script src="/common/js/jquery-3.4.1.min.js"></script>
<script src="/common/js/bootstrap.min.js"></script>