<footer class="fancy-footer-area fancy-bg-dark">
    <div class="footer-content section-padding-80-50">
        <div class="container">
            <div class="row">
                <!-- Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <h6>Contact Us</h6>
                        <p>aeakhter@phy.kuet.ac.bd<br />01714 087 3978
                        </p>
                        <h6>Jointly Organize by</h6>
                        <p>University of Dhaka<br />
                            Jahangirnagar University<br />
                            Khulna University of Engineering & Technology<br />
                            Bangladesh Meteorological Department</p>
                        <p>Open hours: 8.00-18.00 Mon-Fri</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Copywrite -->
    <div class="footer-copywrite-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="copywrite-content h-100 d-flex align-items-center justify-content-between">
                        <!-- Copywrite Text -->
                        <!-- Footer Nav -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>