<head>
	<title>ICCRAM || <%=title%></title>
    <meta charset="UTF-8">
    <meta name="description" content="kuet iccram conference">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/site/style.css" rel="stylesheet">
    <link href="/site/css/responsive/responsive.css" rel="stylesheet">
</head>