#sectionHidden {
    display: none;
}

table th,
td {
    text-align: center;
}

.fas,
.far {
    font-size: 17px
}

.custom-block {
	border-radius: 14px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.block-1 {
    background: #fc3158;
}

.block-2 {
    background: #10ac84;
}

.block-3 {
    background: #2a2727;
}

.block-4 {
    background: #ff9f43;
}

.block-5 {
    background: #2980b9;
}

.block-6 {
    background: #5D3F6A;
}

.btn-icon {
    margin: 2px
}

.correct {
    color: #27ae60;
}

.wrong {
    color: #c0392b;
}